body{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(#995844f8,white,#ebc8a6,white);
    height: auto;
    font-family: 'EB Garamond', serif;
}
.img-container{
    text-align: center;
    position: relative;
}
.img-container img{
    width: 420px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #56A094;
}
.img-container{
    color: #F6EEE3
}
.img-container #joinBtn {
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    background-color: #F6EEE3;
    color: #0C141D;
    border: 5px double #0C141D;
    text-align: center;
    outline: none;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.img-container #joinBtn:hover,
.img-container #joinBtn:active{
    color: #F6EEE3;
    background-color:#56A094;
    padding: 15px;
    border: 4px double #F6EEE3;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
header{
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
}
#mode{
    margin-left: 70%;
    padding: 15px;
}
#hamButton{
    display: block;
    position: sticky;
    background-color: #fbfefd;
    margin-left: 70%;
    padding: 5px;
}
#hamButton::before{
    content:"≡";
}
#mainNav{
    margin: 0 auto;
    width: 420px;
}
#mainNav #navigation{
    list-style: none;
    position: absolute;
    transform: translateY(-50%, -50%);
}
#navigation li{
    display: none;
}
#navigation a{
    max-width: 200px;
    justify-content: center;
    color: #0C141D;
    background-color:#F6EEE3;
    border: 2px solid black;
    padding: 10px;
    display: block;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
#navigation a:hover,
#hamButton:hover {
    background-color: #56A094;
    color: #F6EEE3;
    border: 2px solid #F6EEE3;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 8px;
}
#navigation.show li{
    display: block;
}
#hamButton.show::before{
    content: "x";
}
/*.event-weather{
    max-height: fit-content;
}*/
.events-weather{
    margin: 0 auto;
    max-width: 420px;
    background-color: #F6EEE3;
    margin-top: 40px;
}
ul li {
    list-style: disc;
    color: black;
}
.section1 h2, .section2 h2{
    background-color:#56A094;
    border: 2px dotted rgb(246, 244, 244);
    color: white;
    text-align: center;

}
#forecast {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    align-items: start;
}
.section1,.section2 {
    display: block;
    padding: 1rem;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 420px;
}
#card1, #card2, #card3{
    background-color:#F6EEE3;
    text-align: left;
    width: 100%;
    max-width: 350px;
    padding: 5px;
    height: 700px;
    border-radius: 20px;
    margin: 30px auto;
    border: 2px double #56A094;
}
.card-image{
    margin: 0 auto;
    width: 250px;
    height: auto;
    margin-top: 15px;
}
.card-image img{
    border: 2px solid #56A094;
    width: 250px;
    height: auto;
}
h2,p{
    height: 50px;
}
.spotlight {
    background-color: #ebebeb;
    margin: 0px 20px 20px;
    border: 1px solid #ebebeb;
    padding: 15px;
}
.spotlight-container {
    padding: 40px;
    background-color: #ebebeb;
    margin: 0 auto;
    border: 1px solid#000;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
.spotlight .membersGrid {
    margin: 0 auto;
}
#discover{
    background-color: #F6EEE3;    
}
.events-discover{
    border: 2px solid #56A094;
    border-radius: 2px;
    
}
.main-content-discover {
    max-width: 450px;
    margin: 0 auto;
    margin-left: 200px;
    margin-top: -85%;
}
.main-content-discover picture img{
    max-width: 100%;
    height: auto;

}
.grid-container{
    padding: 15px;
}
.sidebar {
    max-width: 150px;
    padding: 15px;
    border: 4px solid #F5CAB2;
    position: sticky; 
    overflow-y: auto; 
    top: 0; 
    left: 0; 
}
.sidebar h3, h2 {
    color: #333; 
    margin-bottom: 15px;
}
.sidebar p,
.sidebar ul {
    font-size: 14px;
    line-height: 1.5;
}
.sidebar p{
    margin-bottom: 40px;
}
.sidebar ul {
    padding-left: 0;
}
ul li{
    list-style-type: none;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    color: #007BFF; 
    text-decoration: none; 
}
.sidebar ul li a:hover {
    text-decoration: underline;
}
.grid-container {
    grid-template-columns: 1fr;
}
footer {
    display: block;
    text-align: center;
    font-family: 'EB Garamond', serif;
    width: 100%;
    height: auto;
    background: linear-gradient(white,#ebc8a6,#6d3727);
    color: rgb(0, 0, 0);
}
footer img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#contact {
    display: block;
    justify-content: center;
    border-bottom: 2px solid white;

}
#contact p {
    text-align: center;
    color: black;
    margin-bottom: -40px;
}
#connect {
    margin-top: 5%;
    justify-items: center;
    padding: 2%;
    width: 100%;
    max-width: 100px;
    background-color: #573c3c;
}
#connect a {
    padding: 0.5rem;
}
body.dark-mode {
    background-color: #000;
    color: #fff;
}
body.dark-mode .img-container,
body.dark-mode .container,
body.dark-mode .section1,
body.dark-mode .section2{
    background-color: #000;
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode a,
body.dark-mode .spotlight,
body.dark-mode .grid-container,
body.dark-mode .section1 ul li,
body.dark-mode #card1, 
body.dark-mode #card2,
body.dark-mode #card3,
body.dark-mode #directory,
body.dark-mode #mainDiv,
body.dark-mode #join-page,
body.dark-mode #directory,
body.dark-mode footer p,
body.dark-mode #contact p,
body.dark-mode .sidebar{
    color: #fff;
    background-color: #000;
}
/*---For Join us page, webform---*/
.grid-form{
    margin-top: 2%;
    margin-bottom: 4%;
}
.main-cont-form{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: 0 auto;
    row-gap: 10px;
    margin-top: 2%;
    margin-bottom: 4%;
}
label{
    display: block;
    padding: .5rem;
    margin: 0 20%;
    justify-content: center;
}
.web-form{
    grid-column: 2/3;
}
.web-form input[type="text"],
.web-form input[type="email"],
.web-form input[type="password"],
.web-form input[type="tel"],
.web-form textarea,
.web-form #membership {
	background-color:#eee;
	display: block;
	border: solid 1px grey;
	border-radius: 6px;
	padding: .75rem;
	color: grey;
	width: 100%;
	max-width: 200px;
	appearance: none;
}
.web-form #membership{
    margin-left: 21%;
}
.web-form input[type="submit"]{
    font-size: medium;
    font-weight: 700;
    color: white;
    background: linear-gradient(grey,#56A094);
    max-width: 500px;
    width: 50%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 6px;
}
.membLevel{
    margin: 0 0 20px 0;
    border: 1px solid;
    padding: 10px;
    border-color: grey;
    box-shadow: 5px 5px 5px #f1f1f1;
}
#np, #bronze, #silver, #gold{
    background-color: #F6EEE3;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 2px 5px 7px #161414;
}
#np h2, #bronze h2, #silver h2, #gold h2{
    color: white;
    background-color: #56A094;
    text-align: center;
    padding: 2px;
    border-radius: 2px;
    box-shadow: 7px 10px 7px rgb(69, 67, 67);
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0 0 1em rgb(69, 67, 67);
    background-color: #F6EEE3;
    
}
.cards section{
    background-color: #ebc8a6;
    color: black;
    border-radius: 5px;
    border: 2px solid rgb(227, 214, 214);
    box-shadow: 0 0 5em rgb(250, 248, 248);
    padding: 20px;
    margin-top: 20px;
}
.cards img{
    width: 100%;
    height: auto;
    margin-top: 25px;
    border:2px solid rgb(69, 67, 67);
    border-radius: 10px;

}
/*.cards a{
    color: white;
    background-color: #6d3727;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-left: 25%;
}*/
.directory {
    background-color: #ebc8a6;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    color: rgb(69, 67, 67);
}
.cards h2{
    background-color: white;
    box-shadow: 0 0 1em rgb(69, 67, 67);
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    color: rgb(69, 67, 67);
}
/*For the directory Grid/List views*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;
    padding: 3rem;
    box-shadow: 0 0 1em rgb(69, 67, 67);
    background-color: #F6EEE3;
}
#grid, #list{
    background-color: #f7f9fb;
    padding: 10px;
    gap: 20px;
    text-align: center;
    font-size: 15px;

}
.grid section {
	margin-left: 1rem;
    margin-right: 1rem;
}
.grid section img {
    margin-top: 25px;
    border:2px solid rgb(69, 67, 67);
    border-radius: 10px;
}
.list {
	display: flex;
	flex-direction: column;
}
.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    border: 2px solid black;
	margin-top: 0;
    margin-bottom: 0;
	padding: 0.25rem;
}
.list p  {
	font-size: x-large;
    margin: 0;
    
}
.list section img {
	display: none; 
}
.list section h3 {
	font-size: 2rem;
	font-family: Roboto, Helvetica, sans-serif;
}
.list section:nth-child(even) {
	background-color: #e8cac3;
}
/*---Meeting Banner index.html---*/
#meetingBanner {
    position: relative;
    text-align: center;
    margin: 1rem auto 0 auto;
    border: 1px dotted black;
    background-color:#F6EEE3;
    color:#145689;
    text-shadow: 1px 1px rgb(24, 24, 24);;
}

section#meetingBanner.show {
    display: block;
}

section#meetingBanner.close {
    display: none;
}

#meetingBanner h2 {
    margin-bottom: .5rem;
}

#meetingBannerBtn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: block;
    background-color: transparent;
    border-color: transparent;
    color: black;
}

#meetingBannerBtn::before {
    content: "✖";
    font-size: 1.25rem;
}

#meetingBannerBtn:hover,
#meetingBannerBtn:active {
    color:#145689;
}