body{
    width: 100%;
}
.img-container{
    position: relative;
    text-align: center;
}
.img-container img{
    width: 80%;
    height: auto;
}
.img-container h1{
    color: #145689;
}
#menu{
    font-size: 2rem;
	color: #000;
    font-weight: 700;
    text-decoration: none;
}
.img-container .btn {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    background-color:#F6EEE3;
    color: #0C141D;
    border: 5px double #0C141D;
    text-align: center;
    outline: none;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.img-container .btn:hover,
.img-container .btn:active{
    color: #F6EEE3;
    background-color: #145689;
    padding: 15px;
    border: 4px double #F6EEE3;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
#menu::before{
    content:"🟰";
}
#mode{
    position: relative;
    margin-left: 90%;        
    font-size: 1rem;
    cursor: pointer;
    font-size: 2rem;
}
.navigation{
    list-style: none;
}
.navigation li{
    display: none;
}
.navigation a{
    color: #0C141D;
    background-color:#F6EEE3;
    border: 2px solid black;
    padding: 10px;
    display: block;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover{
    background-color: #56A094;
    color: #F6EEE3;
    border: 2px solid black;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 8px;
    margin: 0;
}
.show li{
    display: block;
}
#menu.show::before{
    content: "x";
}
/*main{
    display: grid;
    grid-template-columns: 1fr;

}*/
.event-weather{
    max-height: fit-content;
}
.section1,.section2 {
    display: block;
    padding: 1rem;
    justify-self: center;
}
/*.events-weather{
    max-width: 600px;
    max-height: 200px;
    grid-gap: 2rem;
    text-align: center;
    justify-content: center;
    padding: 2%;
    color: #F6EEE3;
    background-color: #C3B194;
    margin-top: 100px;
}*/

.card, .card2, .card3{
    background-color: #C3B194;
    width: 400px;
    height: 600px;
    border-radius: 40px;
    margin: 50px auto;
    border: 4px double black;
}
.card-image{
    background-color:#F6EEE3;
    height: 360px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 50px;
}
.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2,p{
    height: 50px;
}
footer {
    display: flex;
    justify-content: center;
    grid-gap: 2rem;
    max-height: 100px;
    height: min-content;
    background: linear-gradient(white,#ebc8a6,#6d3727);
    color: black;

}