body{
    width: 100%;
}
.img-container{
    text-align: center;
    position: relative;
}
.img-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-container{
    background-color: #145689;
    color: #F6EEE3;
}

#menu{
    font-size: 2rem;
	color: #000;
    font-weight: 700;
    text-decoration: none;
}
.img-container .btn {
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    font-weight: bold;
    padding: 10px;
    background-color: #F6EEE3;
    color: #0C141D;
    border: 5px double #0C141D;
    text-align: center;
    outline: none;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.img-container .btn:hover,
.img-container .btn:active{
    color: #F6EEE3;
    background-color: #145689;
    padding: 15px;
    border: 4px double #F6EEE3;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
#menu::before{
    content:"≡";
    margin-left: 90%;
    background-color: #F6EEE3;
    padding: 2px;
}
#mode{
    position: absolute;
    top: 10%;
    padding: 3px;
    left: 97%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.navigation{
    list-style: none;
    position: absolute;
    right: 5%;
    top: 45%;
    transform: translateY(-50%);
}
.navigation li{
    display: none;
}
.navigation a{
    max-width: 200px;
    justify-content: center;
    color: #0C141D;
    background-color:#F6EEE3;
    border: 2px solid black;
    padding: 10px;
    display: block;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.navigation a:hover{
    background-color: #56A094;
    color: #F6EEE3;
    border: 2px solid #F6EEE3;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 8px;
}
.show li{
    display: block;
}
#menu.show::before{
    content: "x";
}
.event-weather{
    max-height: fit-content;
}
.events-weather{
    background-color: #145689;
    color: #f6eee3;
    margin-top: 40px;
}
.section1,.section2 {
    display: block;
    padding: 1rem;
    justify-self: center;
}

.card, .card2, .card3{
    background-color: #ebc8a6;
    width: 400px;
    height: 600px;
    border-radius: 40px;
    margin: 50px auto;
    border: 4px double black;
}
.card-image{
    background-color:#F6EEE3;
    height: 360px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 50px;
}
.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2,p{
    height: 50px;
}
.main-content{
    padding: 5%;
}
.sidebar {
    max-width: 750px;
    background-color: #F6EEE3; 
    padding: 15px;
    border-bottom: 4px solid #F5CAB2;
    overflow-y: auto; 
    position: sticky; 
    top: 0; 
    
}

.sidebar h3 {
    color: #333; 
    margin-bottom: 15px;
}

.sidebar p,
.sidebar ul {
    font-size: 14px;
    line-height: 1.5; 
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #007BFF; 
    text-decoration: none; 
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.grid-container {
    grid-template-columns: 1fr;
    background-color: #F6EEE3;
}

footer {
    display: flex;
    justify-content: center;
    grid-gap: 2rem;
    max-height: 100px;
    height: min-content;
    background: linear-gradient(white,#ebc8a6,#6d3727);
    color: black;

}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

body.dark-mode .img-container,
body.dark-mode .container,
body.dark-mode .section1,
body.dark-mode .section2{
    background-color: #000;
}

body.dark-mode h1,
body.dark-mode h3,
body.dark-mode .grid-container,
body.dark-mode .card, 
body.dark-mode .card2, 
body.dark-mode .card3,
body.dark-mode .sidebar{
    color: #fff;
    background-color: #000;
}
.grid-form{
    margin-top: 2%;
    margin-bottom: 4%;
}
.main-cont{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 2%;
    margin-bottom: 4%;
}
label{
    display: block;
    padding: .5rem;
    margin: 0 20%;
    justify-content: center;
}
.web-form{
    grid-column: 2/3;
}

.web-form input[type="text"],
.web-form input[type="email"],
.web-form input[type="password"],
.web-form input[type="telephone"],
.web-form textarea,
.web-form #membership {
	background-color:#eee;
	display: block;
	border: solid 1px grey;
	border-radius: 6px;
	padding: .75rem;
	color: grey;
	width: 100%;
	max-width: 200px;
	appearance: none;
}

.web-form #membership{
    margin-left: 21%;
}

.web-form input[type="submit"]{
    font-size: medium;
    font-weight: 700;
    color: white;
    background: linear-gradient(grey,#56A094);
    max-width: 500px;
    width: 50%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 6px;
}
.membLevel{
    margin: 0 0 20px 0;
    border: 1px solid;
    padding: 10px;
    border-color: grey;
    box-shadow: 5px 5px 5px #f1f1f1;
}
#np, #bronze, #silver, #gold{
    background-color: #F6EEE3;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 2px 5px 7px #161414;
}
#np h2, #bronze h2, #silver h2, #gold h2{
    color: white;
    background-color: #56A094;
    text-align: center;
    padding: 2px;
    border-radius: 2px;
    box-shadow: 7px 10px 7px #161414;
}
