/* larger.css */
@media (min-width: 940px) {
    .img-container{
        margin-top: -1%;
    }
    h1{
        text-align: left;
        margin-left: 20px;
    }
    .navigation {
        width: 50%;
        top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
    .section1, .section2, .events-weather {
        position: relative;
        padding: 1rem;
        justify-self: center;
    }
    
    .container{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
    }
    .sidebar{
        text-align: center;
        border-right: 4px solid #F5CAB2;

    }
    .main-content {
        grid-template-columns: 1fr 1fr;
        max-width: 400px;
        margin-left: 25%;
    }
    .main-content img:hover{
        box-shadow: 0 0 50px #555454;
        
    }
    #mode{
        top: 5%;      
    }
    .main-cont{
        display: grid;
        column-gap: 10px;
        margin-top: 2%;
        margin-bottom: 4%;
    }
    .membLevel{
        grid-column: 3/4;
        margin-right: 10%;
    }
    .list section img {
        display: block;
         margin-bottom: 20px;
    }
    .list section a{
        color: rgb(3, 3, 3);
        border-radius: 5px;
        padding: 10px;
        text-align: center;
    }
    
}
