/* larger.css */
@media (min-width: 940px) {
    .img-container{
        margin-top: -1%;
    }
    h1{
        text-align: left;
        margin-left: 20px;
    }
    .navigation {
        margin-left: 20%;
        width: 50%;
        top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #mode{
        position: absolute;
        top: 15%;
        padding: 3px;
        left: 97%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    section.events-weather{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 940px;
        border: 2px solid #555454
    }
    .section1{
        grid-column: 1/2;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
    .section1, .section2, .events-weather {
        padding: 1rem;
    }
    .img-container img{
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 50px;
    }

    .container{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .img-container .btn {
        width: 200px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
    }
    .sidebar{
        text-align: center;
        border-right: 4px solid #F5CAB2;

    }
    .main-content {
        grid-template-columns: 1fr 1fr;
        max-width: 400px;
        margin-left: 25%;
    }
    .main-content img:hover{
        box-shadow: 0 0 50px #555454;
        
    }
    #mode{
        top: 5%;      
    }
    .main-cont{
        display: grid;
        column-gap: 10px;
        margin-top: 2%;
        margin-bottom: 4%;
    }
    .membLevel{
        grid-column: 3/4;
        margin-right: 10%;
    }
    .list section img {
        display: block;
         margin-bottom: 20px;
    }
    .list section a{
        color: rgb(3, 3, 3);
        border-radius: 5px;
        padding: 10px;
        text-align: center;
    }
    
}
