/* larger.css */
@media (min-width: 940px) {
    .img-container img{
        width: 100%;
        height: 50%;
    }
    .img-container h1 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navigation {
        margin-top: -50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }
    #mode {
        position: relative;
        margin-left: 95%;
        font-size: 3rem;
        font-size: 2rem;
    }

    .img-container .btn {
        position: relative;
        margin-top: 20%;
    }
    .events-weather{
        margin-top: 22%;
        background-color: #C3B194;
    }
    .section1, .section2, .events-weather {
        position: relative;
        padding: 1rem;
        justify-self: center;
    }
    
    .container{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
