
html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Times, 'Times New Roman', serif;
    background-color: white;
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    grid-gap: 2rem;
    background: linear-gradient( #6d3727, #ebc8a6, white);
    color: white;
}

h1 {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgb(11, 8, 8);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 3px;
    
}
.menu, .lesson-link {
    font-size: larger;
    text-decoration: double;
    color: black;
}

.menu:hover, .lesson-link:hover, h1:hover {
    color:#6d3727;
    text-shadow: 2px 1px #ebc8a6;
    text-align: center;
    font-weight: 800;
}
h1:hover {
    text-shadow: 2px 3px white;
}
main {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

h2 {
    text-align: center;

}
.card,.card2 {
    display: block;
    padding: 1rem;
    justify-self: center;
}
h3 {
    text-align: center;
    background-color: #ebc8a6;
    border-radius: 10px;
    text-decoration: underline;
}
.card2 {
    font-weight: 800;
}

footer {
    display: flex;
    justify-content: center;
    grid-gap: 2rem;
    background: linear-gradient(white,#ebc8a6,#6d3727);
    color: black

}