
html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Times, 'Times New Roman', serif;
    background-color: white;
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    grid-gap: 2rem;
    background: linear-gradient( #6d3727, #ebc8a6, white);
    color: white;
}
img{
    width: 60%;
    height: 60%;
}
h1 {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgb(11, 8, 8);
}

h2::before{
    content: "📒";
}
h3#learn::after{
    content:"✏️";
}
h3#weather::after{
    content:"⛅";
}

#menu{
    display: block;
    font-size: 2rem;
	background-color: #eee;
	color: #000;
    font-weight: 700;
    text-decoration: none;
}
#menu::before{
    content:"☰";
}
.navigation{
    list-style: none;
    margin: 0 auto;
    max-width: 640px;
}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5rem;
    text-decoration: none;
    transition: 0.9s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, navigation a:active{
    color: red;
}
.show li{
    display: block;
}

#menu.show::before{
    content: "x";
}
.lesson-link{
    font-size: larger;
    text-decoration: double;
    color: black;
}
.lesson-link:hover,h1:hover {
    color:#6d3727;
    text-shadow: 2px 1px #ebc8a6;
    text-align: center;
    font-weight: 800;
}

h1:hover {
    text-shadow: 2px 3px white;
}
main {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

h2 {
    text-align: center;

}
.card,.card2 {
    display: block;
    padding: 1rem;
    justify-self: center;
}
h3 {
    text-align: center;
    background-color: #ebc8a6;
    border-radius: 10px;
    text-decoration: none;
}
.card2 {
    font-weight: 800;
}

#map{
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    grid-gap: 2rem;
    background: linear-gradient(white,#ebc8a6,#6d3727);
    color: black

}