/*
Customized normalize.cc
   ========================================================================== */
 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  body {
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  
  main {
    display: block;
  }
  
  
  img {
    border-style: none;
  }
  
