@media (min-width: 433px){
    #main-grid{
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
    /*rentals page styles*/
    #rentals-page{
        padding: 20px;
    }
    /*navigation */
    header{
        height: 150px;
    }
    #mainNav{
        max-width: 973px;
        width: 100%;
        margin: 0 auto;

    }
    #reservations-page h1{
        max-width: 400px;
        width: 100%;
        margin: 20px auto;
        min-height: 100px;
        height: 100%;
    }
    #list{
        max-width: 600px;
        margin: 20px auto;
    }
}